<% include ./partials/header.ejs %>
<h1> Players </h1>
<table  class="table table-striped table-hover">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Number</th>
  </tr>

    <% for (var i=0; i< players.length; i++) { %>
  <tr>
    <td> <%=players[i].firstName %> </td>
    <td> <%=players[i].lastName %> </td>
    <td> <%=players[i].number %> </td>

  </tr>
    <% } %>
</table>

<% include ./partials/footer.ejs %>